[user]
    email = nonodi@cinemo.com
    name = Nándor Ónodi
[core]
    editor = nvim
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool]
    prompt = true
    dir-diff = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[color]
	ui = auto
