[Unit]
Description=Sway compositor session
Documentation=man:systemd.special
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
Environment=MOZ_ENABLE_WAYLAND=1
Environment=XDG_CURRENT_DESKTOP=Sway
